<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--插件配置-->
    <plugins>
        <plugin interceptor="com.github.pagehelper.PageInterceptor"/>
    </plugins>


    <!--指定源-->
    <environments default="demo">
        <environment id="demo">
            <transactionManager type="JDBC"/>
            <!--这里配置自定义数据源需要实现DataSourceFactory-->
            <dataSource type="mybatis.conf.DruidDataSourceMybatisFactory">
                <property name="url" value="jdbc:mysql://localhost:3306/mysql"/>
                <property name="username" value="root"/>
                <property name="password" value="root"/>
                <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
            </dataSource>
        </environment>
    </environments>
    <!--指定映射-->
    <mappers>
        <!-- //指定映射文件：会同时生成mapper映射器-->
<!--        <mapper resource="mapper/UserDao.xml" />-->
        <!-- //指定映射器：需要指定使用mapper注解-->
<!--        <mapper class="mybatis.dao.UserDao"/>-->
        <!--//指定mapper映射器包:映射器和文件需要名称相同，命名空间为接口全限定名即可-->
        <package name="mybatis.dao"/>
    </mappers>
</configuration>